<body class="text-center">
  <form [formGroup]="loginForm" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Giriş yap</h1>
    <label for="inputEmail" class="sr-only">E-posta</label>
    <input
    formControlName="email"
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="E-posta"
      required
      autofocus
    />
    <label for="inputPassword" class="sr-only">Parola</label>
    <input
    formControlName="password"
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Parola"
      required
    />
    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Beni hatırla </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()">
      Giriş yap
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</body>
